html,
body {
  max-width: 1280px;
  max-height: 2762x;
  margin: 0 auto;
  padding: 0;

}

body {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  background-color: #f2f2f2;
  width: 1280px;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
}

.intro {
  background: url('../img/background.jpg') no-repeat top;
  width: 1200px;
  height: 564px;
}

.intro-info {
  text-align: center;
}

.order-filter {
  background: url('../img/filter-background.jpg') no-repeat top;
  width: 1200px;
}

.features-name {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
