html,
body {
  max-width: 1280px;
  max-height: 2762x;
  margin: 0 auto;
  padding: 0;

}

body {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  background-color: #f2f2f2;
  width: 1280px;
}

a {
  text-decoration: none;
}

/*Общее для кнопок*/

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  /*Тень пока временно, чтобы границы видеть*/
  box-shadow: 0 0 25px 0.5px #333333;
}
/*Стилизуем ссылки навбара сошласно стайлгайду*/
.site-navigation a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.302;
}

.main-navigation {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation-current a {
  color: #766357;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  padding: 0;
}

.intro {
  background: url('../img/background-final.jpg') no-repeat top;
  width: 1200px;
  height: 564px;
}

.advantages-intro .features-name {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.advantages-intro p {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
}

.features-name,
.advantage-name {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

/*Стилизация текста в блоках с синим фоном*/
.advantage-item-img {
  background-color: #81b3d2;
}

.advantage-item-img b {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.advantage-item-img p {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.features-item p {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.advantage-item {
  background-color: #f2f2f2;
}

/*Секция поиска и заказа гостиницы*/

.order-area-title {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.order-area p {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

/*Кнопки и их поведение*/

/*Размеры шрифта*/

.btn-search,
.btn-result {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.btn-book,
.btn-about {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
/*Фон и поведение для коричневых кнопок*/
.btn-search,
.btn-book {
  background-color: #766357;
}

.btn-search:hover,
.btn-book:hover {
  background-color: #604e43;
}

.btn-search:active,
.btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.302);
}

/*Фон и поведение голубых кнопок*/

.btn-result,
.btn-about {
  background-color: #81b3d2;
}

.btn-result:hover,
.btn-about:hover {
  background-color: #669ec0;
}

.btn-result:active,
.btn-about:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.302);
}

/*Модальное окно - стилизация*/

.modal-form-item input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.modal-form-item input:hover {
  background-color: #ebebeb;
}

.modal-form-item input:focus {
  background: transparent;
  border: 2px solid #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}














.order-filter {
  background: url('../img/filter-background.jpg') no-repeat top;
  width: 1200px;
}
/*Форма с ползунками*/

.filter-range {
  width: 328px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative; /*Для задания разделителя - нужно спозиционировать блок как relative*/

  margin-bottom: 20px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
/*С помощью абсолютно спозиционированного псевдоэлемента добавляется палочка-разделитель*/
.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  /*Позиционирование*/
  top: 50%;
  left: 50%;
  /*размещение на место*/
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
/*Стилилазия полей*/
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  /*Цвет и шрифт наследуется от родительского блока Filter Range*/
  color: inherit;
  font: inherit;
  /*Прозрачность для полей ввода*/
  background: none;
  border: none;
  outline: none;
}

/*Так как ползунки будут спозиционированы абсолютно, то базовый блок - относительно*/
.range-controls {
  position: relative;
  margin-bottom: 32px;

}
/*Стилизация всей шкалы*/
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
/*Стилизация выделенной шкалы значений*/
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
/*Стилизация ползунков, 2 блока, с указанными размерами, скругленные*/
/*Позиционирование абсолютное, размещаем оба ползунка на шкале*/
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;

  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

/*Стилизация hover при наведении на ползунок*/
.range-toggle:hover {
  background: #1c4f80;
}

/*Позиционируем оба ползунка по шкале*/
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/*Стилизация прозрачной кнопки ПОКАЗАТЬ*/
.btn-range {
  display: block;
  margin: 0 auto; /*Центрируем*/
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

/*И Hover для этой кнопки*/
.btn-range:hover {
  color: #000000;
  background: #ffffff;
}
