html,
body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

/*Общее для кнопок*/

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
  background-color: #ffffff;
  /*Тень пока временно, чтобы границы видеть*/
  box-shadow: 0 0 25px 0.5px #333333;
}
/*Стилизуем ссылки навбара сошласно стайлгайду*/


.main-navigation {
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.302;
}

.site-navigation-current a {
  color: #766357;
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 56px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 20%;
  margin: 0;
  padding: 0;
}

.site-navigation li:first-child {
  text-align: left;
  margin-left: 6%;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: 4%;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  margin-left: 4%;
}

.site-navigation li:last-child {
  text-align: right;
  margin-right: 6%;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70px;
}

.intro {
  background: url('../img/background-final.jpg') no-repeat top;
  width: 1200px;
  height: 564px;
  background-position: right 0px top -56px;
}

.advantages-intro {
  width: 489px;
  padding-top: 7px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 51px;
}

.advantages-intro .features-name {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.advantages-intro p {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.features-name,
.advantage-name {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

/*Стилизация текста в блоках с синим фоном*/

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-height: 256px;
}

.advantage-item-img {
  background-color: #81b3d2;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;

  padding-top: 50px;
  padding-bottom: 62px;
}

.advantage-item-img b {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.advantage-item-img p {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 400px;
  min-height: 330px;
}

.features-item p {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.advantage-item {
  background-color: #f2f2f2;
  min-width: 400px;
  min-height: 256px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Секция поиска и заказа гостиницы*/

.order-area-title {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.order-area-description {
  text-align: center;
}

.order-area p {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

/*Кнопки и их поведение*/

/*Размеры шрифта*/

.btn-search,
.btn-result {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.btn-search {
  display: block;
  margin: 0 auto; /*Центрируем*/
  padding: 33px 140px;
}

.btn-result {
  display: inline-block;
  margin: 0 auto;
  padding: 17px 197px;
}

.btn-book,
.btn-about {
  display: inline-block;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0px;
}
/*Фон и поведение для коричневых кнопок*/
.btn-search,
.btn-book {
  background-color: #766357;
}

.btn-search:hover,
.btn-book:hover {
  background-color: #604e43;
}

.btn-search:active,
.btn-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.302);
}

/*Фон и поведение голубых кнопок*/

.btn-result,
.btn-about {
  background-color: #81b3d2;
}

.btn-result:hover,
.btn-about:hover {
  background-color: #669ec0;
}

.btn-result:active,
.btn-about:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.302);
}

/*Модальное окно - стилизация*/


.modal-form-item input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.modal-form-item input:hover {
  background-color: #ebebeb;
}

.modal-form-item input:focus {
  background: transparent;
  border: 2px solid #e5e5e5;
  outline: none;
}

/*КАТАЛОГ ГОСТИНИЦ*/


.order-filter {
  background: url('../img/filter-background.jpg') no-repeat top;
  width: 1200px;
}

.filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.services-filter:first-child {
  margin-left: 6%;
}

.order-filter fieldset {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;

  border: 0;
  margin: 0;
  padding: 0;
}

.filter li {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
}

.services-filter ul,
.type-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option-list li {
  margin-bottom: 33px;
  padding: 0;
}


/*Форма с ползунками*/

.filter-range {
  width: 328px;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  margin-right: 6%;
}

.filter-range-title {
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative; /*Для задания разделителя - нужно спозиционировать блок как relative*/

  margin-bottom: 20px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}
/*С помощью абсолютно спозиционированного псевдоэлемента добавляется палочка-разделитель*/
.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  /*Позиционирование*/
  top: 50%;
  left: 50%;
  /*размещение на место*/
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 36px;
  vertical-align: top;
  cursor: pointer;
}
/*Стилилазия полей*/
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  /*Цвет и шрифт наследуется от родительского блока Filter Range*/
  color: inherit;
  font: inherit;
  /*Прозрачность для полей ввода*/
  background: none;
  border: none;
  outline: none;
}

/*Так как ползунки будут спозиционированы абсолютно, то базовый блок - относительно*/
.range-controls {
  position: relative;
  margin-bottom: 32px;

}
/*Стилизация всей шкалы*/
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
/*Стилизация выделенной шкалы значений*/
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
/*Стилизация ползунков, 2 блока, с указанными размерами, скругленные*/
/*Позиционирование абсолютное, размещаем оба ползунка на шкале*/
.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;

  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

/*Стилизация hover при наведении на ползунок*/
.range-toggle:hover {
  background: #1c4f80;
}

/*Позиционируем оба ползунка по шкале*/
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

/*Стилизация прозрачной кнопки ПОКАЗАТЬ*/
.btn-range {
  display: block;
  margin: 0 auto; /*Центрируем*/
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

/*И Hover для этой кнопки*/
.btn-range:hover {
  color: #000000;
  background: #ffffff;
}
/*Секция фильтров результатов по цене и тд*/
.filter-result-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 6%;
}
/*Стили для заголовка*/
.filter-result-header p {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}
/*Обнуляем все для списка*/
.filter-options ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-options b {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}
/*Вложенный флекс для фильтров*/
.results-sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/*Расставляем по местам*/
.results-sorting li:first-child {
  margin-right: 40px;
}

.results-sorting li:not(:first-child):not(:last-child) {
  margin-right: 33px;
}

.results-sorting a {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.302);
}

.results-sorting a:hover {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.results-sorting a:active {
  color: #000000;
  text-decoration: none;
}

.current-sorting a {
  color: #81b3d2;
}

/*Стрелочки*/

.sorting-arrows {
  margin-left: auto;
  margin-right: 6%;
  position: relative;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
/*Попытка стрелочки сделать*/
.arrow-up::after {
  content: '';
  position: absolute;
  right: 23px;
  top: auto;
  bottom: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #cacaca transparent;
  -webkit-transform: rotate(360deg);
}

.arrow-down::after {
  content: '';
  position: absolute;
  right: 1px;
  top: auto;
  bottom: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #cacaca transparent transparent transparent;
  -webkit-transform: rotate(360deg);
}

.arrow-down:hover::after {
  border-color: #231f20 transparent transparent transparent;
}

.arrow-down:active::after {
  border-color: #81b3d2 transparent transparent transparent;
}

.arrow-up:hover::after {
  border-color: transparent transparent #231f20 transparent;
}

.arrow-up:active::after {
  border-color: transparent transparent #81b3d2 transparent;
}

.sorting-arrows ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-image {
  margin-right: 30px;
  padding: 0;
}

.hotel-name-title {
  margin: 0;
  padding: 0;
}

.hotel-name-title a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.filter-results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.results-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 6%;
  margin-right: 6%;
  min-height: 90px;
  min-width: 1056px;
}

.hotel-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-name-title a:hover {
  color: #81b3d2;
}

.hotel-name-title a:active {
  color: rgba(0, 0, 0, 0.302);
}

.hotel-rating {
  margin-left: auto;
}

.rating {
  background-color: #f2f2f2;
}

.rating span {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: normal;
}


.main-map {
  background: #cbdda9 url('../img/map.jpg') no-repeat center;
  width: 1200px;
  height: 593px;
}
/*FOOTER*/

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.902
}

.footer-social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-items li {
  display: inline-block;
}

.hashtag-title {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.footer-copyright a {
  fill: #231f20;
}

.footer-copyright a:hover {
  fill: #82b4d2;
}

.footer-copyright a:active {
  fill: #bdbbbc;
}
